
<%= form_tag login_path, method: :post do %>
  <p>Username: <%= text_field_tag "username" %></p>
  <p>Password: <%= text_field_tag "password" %></p>
  <%= submit_tag "Log In" %>
<%end%>

<br>

<%= link_to "Activate Github Omniauth", '/auth/github' %>
