
<h1> Welcome! </h1>

<h3> Top Picks </h3>
<table>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Location</th>
    <th>Rating</th>
  </tr>
<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
    <td><%= restaurant.cuisine.name %></td>
    <td><%= restaurant.location.name %></td>
    <td><%= restaurant.restaurant_rating.nil? ? "Not Rated Yet" : restaurant.restaurant_rating %></td>
  </tr>
<%end%>
</table>
<br>

<% if session[:user_id] %>
  <a class="navbar-brand" href="<%= logout_path%>">Log Out</a><br>
<%else%>
  <a class="navbar-brand" href="<%= login_path%>">Log In</a><br>
  <a class="navbar-brand" href="<%= new_user_path%>">Sign Up</a><br>
<%end%>
