<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %><br>

  <%= f.label :opening_time %>
  <%= f.time_select :opening_time %><br>

  <%= f.label :closing_time %>
  <%= f.time_select :closing_time %><br>

  <%= f.label "Location"%>
  <%= f.collection_select(:location_id, Location.all, :id, :name) %><br>

  <br>

  <p>Meals:</p>
  <%= f.fields_for :dishes do |dishes_attributes|%>
    <%= dishes_attributes.label :name %>
    <%= dishes_attributes.text_field :name %><br>

    <%= dishes_attributes.label :price %>
    <%= dishes_attributes.number_field :price %><br>

  <%end%>

  <%= f.submit %><br>
<%end%>
