
<h2><%= @restaurant.name %></h2>
<div>Location: <%= @restaurant.location.name %></div><br>
<div>Cuisine: <%= @restaurant.cuisine.name %></div><br>

<div>Operating Hours: <%=@restaurant.opening_time.strftime("%I:%M %p")%> - <%=@restaurant.closing_time.strftime("%I:%M %p")%></div><br>

<h3>Menu</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
<%@dishes.each do |dish|%>
  <tr>
    <td><%=dish.name %></td>
    <td><%=dish.price%></td>
  </tr>
<%end%>
</table>

<%byebug%>

<% if restaurant_manager? && User.find(session[:user_id]).restaurant == @restaurant %>
  <%=render partial: "edit", locals: {restaurant: @restaurant} %>
<%end%>
