
<h2><%= @restaurant.name %></h2>
<div>Location: <%= @restaurant.location.name %></div><br>
<div>Cuisine: <%= @restaurant.cuisine %></div><br>

<div>Operating Hours: <%=@restaurant.opening_time.strftime("%I:%M %p")%> - <%=@restaurant.closing_time.strftime("%I:%M %p")%></div><br>

<h3>Menu</h3>
<ul>
<%@dishes.each do |dish|%>
  <li><%= dish.name %>: <%= dish.price%></li>
<%end%>
</ul>
