
<h2><%= @restaurant.name %></h2>
<%= @restaurant.location.name %><br>
<%= @restaurant.cuisine %><br>

<div>Operating Hours: <%=@restaurant.opening_time%> - <%=@restaurant.closing_time%></div>

<%@dishes.each do |dish|%>
  <%= dish.name %><br>
  <%= dish.price%><br>
<%end%>
